$logo-color: #1eb9c6;
$white-color: #ffffff;
$lightBlue-color: #83adff;
$grey-color: #c4c4c4;

// nueva paleta de colores

$green: #0f8d98;
$lightBlue-green: #1eb9c6;
$grey-bg: rgba(38, 50, 56, 0.6);
