.contactSection {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 4rem 0 8rem 0;
  h3 {
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 1.25rem;
    color: $lightBlue-green;
    margin: 2rem 0;
  }
  button {
    font-family: "Hanken-book";
    font-weight: 400;
    font-size: 1.12rem;
    color: $white-color;

    background: radial-gradient(100% 1225% at 0% 50%, #1eb9c6 0%, #508ddc 100%);
    border-radius: 40px;
    border: none;
    width: 13rem;
    height: 3.5rem;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      @extend %transform-hov;
    }
  }
}
