.footer-container {
  position: relative;
  display: flex;
  .footer-bg {
    width: 100%;
    z-index: -1;
  }

  .arrow-top {
    position: absolute;
    width: 5rem;
    margin-left: 90%;

    &:hover {
      @extend %transform-hov;
    }
  }

  .blueat-logo-2 {
    position: absolute;
    margin-left: 85%;
    margin-top: 35%;
  }
  .rrss-icons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 11rem;

    margin-left: 83%;
    margin-top: 38%;
    .fab {
      color: $white-color;
      &:hover {
        @extend %transform-hov;
      }
    }
  }
  .legales {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 26rem;

    margin-left: 70%;
    margin-top: 41%;
    a {
      @extend %links;
      &:hover {
        @extend %transform-hov;
      }
    }
  }
}
