.packs-section {
  width: 100%;
  height: 500px;
  background-color: $blue;
  display: grid;
  grid-template-columns: 1fr 80%;
  grid-gap: 10px;

  .pack-left {
    position: relative;
    padding-left: 3rem;
    .text-pack {
      text-align: right;
      font-family: "Roboto";
      color: $white-color;
      font-weight: 900;
      font-size: 3.15rem;
      text-transform: uppercase;
      line-height: 2.5rem;

      position: absolute;
      z-index: 1;
      padding: 5rem 0 0 2rem;
    }
    .pack-img {
      position: absolute;
      width: 100%;
      padding-top: 2rem;
    }
  }

  .cards-right,
  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    .item {
      padding: 0 1rem;
    }

    .btnPrevNext {
      background-color: transparent;
      border: none;
      color: $white-color;
      padding: 0 0.5rem;
    }

    .cardFav {
      border-radius: 15px;
      width: 15rem;
      min-height: 20.3rem;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      overflow: hidden;

      .imgFav {
        object-fit: cover;
      }

      .detailCard {
        background-color: $grey-bg;
        height: 2.62rem;
        border-radius: 0px 0px 14px 14px;
        width: 100%;
        bottom: 0;

        .textFav {
          font-family: "Roboto";
          font-weight: 300;
          font-style: italic;
          color: $white-color;
          font-size: 1.25rem;
          text-align: right;
          padding-top: 0.5rem;
          padding-right: 1rem;
        }
      }

      .overlay {
        visibility: hidden;
        position: absolute;
        border-radius: 15px;
        width: 15rem;
        min-height: 22.9rem;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        overflow: hidden;
        background-color: $grey-bg;

        .overlay-top {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .textOverlay,
          .textOverlay-2 {
            font-family: "Roboto";
            font-weight: 500;
            color: $white-color;
          }
          .textOverlay {
            font-size: 1.25rem;
            padding: 2rem 0;
          }
          .textOverlay-2 {
            font-size: 1rem;
          }
          img {
            padding-top: 1rem;
            padding-bottom: 0.5rem;
          }
        }

        .detailOverlay {
          position: absolute;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: $white-color;
          height: 2.62rem;
          border-radius: 0px 0px 14px 14px;
          width: 100%;
          bottom: 0;

          .txtDetailOver {
            text-decoration: none;
            font-family: "Roboto";
            font-weight: 700;
            color: $lightBlue-green;
            font-size: 1.1rem;
          }
        }
      }
    }

    .cardFav:hover .overlay {
      visibility: visible;
      animation: fade 0.5s;
    }
    @keyframes fade {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
