.reviewSection {
  position: relative;
  margin: 2rem 0;
  .review-bg {
    width: 100%;
    /* position: absolute;
    z-index: -1; */
  }
  .reviews-container {
    position: absolute;
    top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 500px;
    .review-card {
      display: flex;
      width: 18rem;
      height: 6.5rem;
      background: linear-gradient(97.09deg, #fafd73 1.99%, #dee21c 100%);
      border-radius: 12px;
      padding: 1rem;

      .img-card {
        width: 80%;
        height: 80%;
        border-radius: 50px;
        padding: 0.2rem;
      }
      .card-body {
        display: flex;
        flex-direction: column;
        text-align: right;
        padding-left: 0.2rem;

        h3 {
          font-family: "Roboto";
          font-size: 0.9rem;
          font-weight: 700;
          color: $orange;
          padding-bottom: 0.2rem;
        }
        p {
          font-family: "Roboto";
          font-size: 0.9rem;
          font-weight: 700;
          color: $white-color;
        }
      }
    }
    .reviews-left {
      margin: 12rem 0 0 23rem;
    }
    .reviews-center {
      margin: 16rem 0 0 2.5rem;
      .review-title {
        text-transform: uppercase;
        position: absolute;
        text-align: center;
        color: $orange;
        font-size: 3.5rem;
        font-weight: 900;
        line-height: 2.8rem;
        text-align: right;
      }
    }
    .reviews-right {
      margin: 14rem 0 0 2rem;
    }
    .reviews-leftD {
      margin: 5rem 0 0 17rem;
    }
    .reviews-centerD {
      margin: 7rem 1rem 0 10rem;
    }
    .reviews-rightD {
      margin: 4rem 15rem 0 0;
    }
  }
}
