@font-face {
  font-family: hanken-book;
  src: url(/fonts/hanken-book-webfont.woff);
}
@font-face {
  font-family: hanken-light;
  src: url(/fonts//hanken-light-webfont.woff);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 130px, 160px;
}

.contactSection button:hover, .we-section .we-cta #btnTeam:hover, .flex-container .navbar .navbar-icons img:hover, .flex-container .navbar .navbar-list .navbar-item:hover, .flex-container .navbar .navbar-logo img:hover, .slider-container .text-slider-main .btn-slider-main:hover, .footer-container .footerRight .legales a:hover, .footer-container .footerRight .rrss-icons .fab:hover, .footer-container .arrow-top:hover {
  transform: scale(1.1);
  transition: all 1s;
  cursor: pointer;
  text-shadow: 2px 7px 7px #c4c4c4;
}

.footer-container .footerRight .legales a {
  text-decoration: none;
  color: #ffffff;
}

.footer-container {
  display: flex;
  position: relative;
}
.footer-container .footer-bg {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.footer-container .arrow-top {
  position: absolute;
  z-index: 1;
  width: 5rem;
  margin-left: 92%;
}
.footer-container .footerRight {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-left: 74%;
  margin-top: 5%;
}
.footer-container .footerRight p {
  color: #1eb9c6;
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.25rem;
  padding-top: 30%;
  text-align: right;
}
.footer-container .footerRight .logos-market {
  display: flex;
  padding: 2rem 0 0 8rem;
}
.footer-container .footerRight .logos-market .logmarkets-right {
  display: flex;
  flex-direction: column;
}
.footer-container .footerRight .logos-market .logmarkets-right img {
  width: 120%;
}
.footer-container .footerRight .logos-market .logmarkets-right .eroski {
  padding-bottom: 0.5rem;
}
.footer-container .footerRight .blueat-logo-2 {
  padding: 30% 0 0 45%;
  width: 50%;
}
.footer-container .footerRight .rrss-icons {
  display: flex;
  justify-content: space-between;
  width: 12rem;
  padding: 2rem 0 2rem 12rem;
}
.footer-container .footerRight .rrss-icons .fab {
  color: #ffffff;
}
.footer-container .footerRight .legales {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 26rem;
}
/* .footer-container {
  .blueat-logo-2 {
    position: absolute;
    margin-left: 85%;
    margin-top: 35%;
  }
  .rrss-icons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 11rem;

    margin-left: 83%;
    margin-top: 38%;
    .fab {
      color: $white-color;
      &:hover {
        @extend %transform-hov;
      }
    }
  }
  .legales {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 26rem;

    margin-left: 70%;
    margin-top: 41%;
    a {
      @extend %links;
      &:hover {
        @extend %transform-hov;
      }
    }
  }
}
 */
.slider-container {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0;
}
.slider-container img {
  width: 100%;
}
.slider-container .text-slider-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-container .text-slider-main .text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.2rem;
  text-align: center;
  color: #ffffff;
}
.slider-container .text-slider-main .text-2 {
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 3rem;
  font-family: Roboto;
}
.slider-container .text-slider-main .btn-slider-main {
  margin-top: 2rem;
  width: 16rem;
  height: 4rem;
  color: #0f8d98;
  border-radius: 30px;
  border: none;
  font-family: "hanken-book";
  font-size: 1.5rem;
}
.flex-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 92px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}
.flex-container .navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1.5rem 2rem;
}
.flex-container .navbar .navbar-logo {
  justify-items: left;
  align-items: center;
}
.flex-container .navbar .navbar-list {
  justify-items: right;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.flex-container .navbar .navbar-list .navbar-item {
  font-family: "hanken-book";
  font-size: 20px;
  color: #1eb9c6;
}
.flex-container .navbar .navbar-list .navbar-item:not(:first-child) {
  padding-left: 6rem;
}
.fav-section {
  width: 100%;
  height: 500px;
  background-color: #1eb9c6;
  display: grid;
  grid-template-columns: 75% 1fr;
  grid-gap: 10px;
}
.fav-section .cards-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.fav-section .cards-left .lSSlideOuter .lSPager.lSpg {
  visibility: hidden;
}
.fav-section .cards-left #goToNextSlide,
.fav-section .cards-left #goToPrevSlide {
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding: 0 0.7rem;
}
.fav-section .cards-left .cardFav {
  border-radius: 15px;
  width: 15rem;
  min-height: 20.3rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}
.fav-section .cards-left .cardFav .imgFav {
  object-fit: cover;
}
.fav-section .cards-left .cardFav .detailCard {
  background-color: rgba(38, 50, 56, 0.6);
  height: 2.62rem;
  border-radius: 0px 0px 14px 14px;
  width: 100%;
  bottom: 0;
}
.fav-section .cards-left .cardFav .detailCard .textFav {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
  font-size: 1.25rem;
  text-align: right;
  padding-top: 0.5rem;
  padding-right: 1rem;
}
.fav-section .cards-left .cardFav .overlay {
  visibility: hidden;
  position: absolute;
  border-radius: 15px;
  width: 15rem;
  min-height: 22.9rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(38, 50, 56, 0.6);
}
.fav-section .cards-left .cardFav .overlay .overlay-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fav-section .cards-left .cardFav .overlay .overlay-top .textOverlay,
.fav-section .cards-left .cardFav .overlay .overlay-top .textOverlay-2 {
  font-family: "Roboto";
  font-weight: 500;
  color: #ffffff;
}
.fav-section .cards-left .cardFav .overlay .overlay-top .textOverlay {
  font-size: 1.25rem;
  padding: 2rem 0;
}
.fav-section .cards-left .cardFav .overlay .overlay-top .textOverlay-2 {
  font-size: 1rem;
}
.fav-section .cards-left .cardFav .overlay .overlay-top img {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.fav-section .cards-left .cardFav .overlay .detailOverlay {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  height: 2.62rem;
  border-radius: 0px 0px 14px 14px;
  width: 100%;
  bottom: 0;
}
.fav-section .cards-left .cardFav .overlay .detailOverlay .txtDetailOver {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 700;
  color: #1eb9c6;
  font-size: 1.1rem;
}
.fav-section .cards-left .cardFav:hover .overlay {
  visibility: visible;
  animation: fade 0.5s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fav-section .fav-right {
  position: relative;
}
.fav-section .fav-right .text-fav {
  font-family: "Roboto";
  color: #ffffff;
  font-weight: 900;
  font-size: 3.15rem;
  text-transform: uppercase;
  line-height: 2.5rem;
  text-align: left;
  position: absolute;
  z-index: 1;
  margin-top: 25%;
}
.fav-section .fav-right .cart-img {
  position: absolute;
  width: 100%;
  padding-top: 7rem;
}

.howBuy-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  padding: 4rem 0;
  justify-content: center;
  align-content: center;
}
.howBuy-section .howBuy-title {
  padding-right: 2rem;
  padding-top: 4rem;
  text-align: right;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  color: #1eb9c6;
  font-family: "Roboto";
  font-size: 3rem;
  font-weight: 900;
  line-height: 2.5rem;
}
.howBuy-section .step {
  width: 18rem;
  height: 20rem;
  text-align: center;
  color: #ffffff;
}
.howBuy-section .step .capitalNum {
  position: absolute;
  padding-left: 0.5rem;
  text-align: left;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 7rem;
  color: rgba(255, 255, 255, 0.4);
}
.howBuy-section .step .step-content img {
  padding-top: 1rem;
}
.howBuy-section .step .step-content p {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
}
.howBuy-section .step h3 {
  text-transform: uppercase;
  text-align: left;
  padding: 4rem 0 0 1.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.howBuy-section .step1,
.howBuy-section .step4 {
  background-color: #538add;
}
.howBuy-section .step2 {
  background: linear-gradient(90deg, #538add 0%, #4fbfec 100%);
}
.howBuy-section .step3 {
  background: linear-gradient(90deg, #44cae8 0%, #5482db 100%);
}
.howBuy-section .step1 {
  border-radius: 17px 0 0 17px;
}
.howBuy-section .step4 {
  border-radius: 0 17px 17px 0;
}

.we-section {
  display: grid;
  grid-template-columns: 18% 50% 25%;
  width: 100%;
  height: 470px;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.we-section .we-title {
  color: #1eb9c6;
  text-transform: uppercase;
  font-size: 3.15rem;
  font-weight: 900;
  text-align: right;
  line-height: 2.5rem;
  padding: 10rem 4rem 10rem 0;
}
.we-section .we-team {
  width: 100%;
}
.we-section .we-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.5rem;
}
.we-section .we-cta .we-text {
  text-transform: uppercase;
  color: #4f8fdc;
  font-weight: 900;
  font-size: 1rem;
}
.we-section .we-cta #btnTeam {
  color: #ffffff;
  font-family: "hanken-book";
  font-size: 0.8rem;
  font-weight: 400;
  background: radial-gradient(100% 1225% at 0% 50%, #1eb9c6 0%, #508ddc 100%);
  border-radius: 2.5rem;
  border: none;
  padding: 1.2rem 1.7rem;
}
.we-section .we-cta img,
.we-section .we-cta #btnTeam {
  margin-top: 1.7rem;
}

.packs-section {
  width: 100%;
  height: 500px;
  background-color: #538add;
  display: grid;
  grid-template-columns: 1fr 80%;
  grid-gap: 10px;
}
.packs-section .pack-left {
  position: relative;
  padding-left: 3rem;
}
.packs-section .pack-left .text-pack {
  text-align: right;
  font-family: "Roboto";
  color: #ffffff;
  font-weight: 900;
  font-size: 3.15rem;
  text-transform: uppercase;
  line-height: 2.5rem;
  position: absolute;
  z-index: 1;
  padding: 5rem 0 0 2rem;
}
.packs-section .pack-left .pack-img {
  position: absolute;
  width: 100%;
  padding-top: 2rem;
}
.packs-section .cards-right,
.packs-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.packs-section .cards-right .item,
.packs-section ul .item {
  padding: 0 1rem;
}
.packs-section .cards-right .btnPrevNext,
.packs-section ul .btnPrevNext {
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding: 0 0.5rem;
}
.packs-section .cards-right .cardFav,
.packs-section ul .cardFav {
  border-radius: 15px;
  width: 15rem;
  min-height: 20.3rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}
.packs-section .cards-right .cardFav .imgFav,
.packs-section ul .cardFav .imgFav {
  object-fit: cover;
}
.packs-section .cards-right .cardFav .detailCard,
.packs-section ul .cardFav .detailCard {
  background-color: rgba(38, 50, 56, 0.6);
  height: 2.62rem;
  border-radius: 0px 0px 14px 14px;
  width: 100%;
  bottom: 0;
}
.packs-section .cards-right .cardFav .detailCard .textFav,
.packs-section ul .cardFav .detailCard .textFav {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
  font-size: 1.25rem;
  text-align: right;
  padding-top: 0.5rem;
  padding-right: 1rem;
}
.packs-section .cards-right .cardFav .overlay,
.packs-section ul .cardFav .overlay {
  visibility: hidden;
  position: absolute;
  border-radius: 15px;
  width: 15rem;
  min-height: 22.9rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(38, 50, 56, 0.6);
}
.packs-section .cards-right .cardFav .overlay .overlay-top,
.packs-section ul .cardFav .overlay .overlay-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.packs-section .cards-right .cardFav .overlay .overlay-top .textOverlay,
.packs-section .cards-right .cardFav .overlay .overlay-top .textOverlay-2,
.packs-section ul .cardFav .overlay .overlay-top .textOverlay,
.packs-section ul .cardFav .overlay .overlay-top .textOverlay-2 {
  font-family: "Roboto";
  font-weight: 500;
  color: #ffffff;
}
.packs-section .cards-right .cardFav .overlay .overlay-top .textOverlay,
.packs-section ul .cardFav .overlay .overlay-top .textOverlay {
  font-size: 1.25rem;
  padding: 2rem 0;
}
.packs-section .cards-right .cardFav .overlay .overlay-top .textOverlay-2,
.packs-section ul .cardFav .overlay .overlay-top .textOverlay-2 {
  font-size: 1rem;
}
.packs-section .cards-right .cardFav .overlay .overlay-top img,
.packs-section ul .cardFav .overlay .overlay-top img {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.packs-section .cards-right .cardFav .overlay .detailOverlay,
.packs-section ul .cardFav .overlay .detailOverlay {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  height: 2.62rem;
  border-radius: 0px 0px 14px 14px;
  width: 100%;
  bottom: 0;
}
.packs-section .cards-right .cardFav .overlay .detailOverlay .txtDetailOver,
.packs-section ul .cardFav .overlay .detailOverlay .txtDetailOver {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 700;
  color: #1eb9c6;
  font-size: 1.1rem;
}
.packs-section .cards-right .cardFav:hover .overlay,
.packs-section ul .cardFav:hover .overlay {
  visibility: visible;
  animation: fade 0.5s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.reviewSection {
  position: relative;
  margin: 2rem 0;
}
.reviewSection .review-bg {
  width: 100%;
  /* position: absolute;
  z-index: -1; */
}
.reviewSection .reviews-container {
  position: absolute;
  top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 500px;
}
.reviewSection .reviews-container .review-card {
  display: flex;
  width: 18rem;
  height: 6.5rem;
  background: linear-gradient(97.09deg, #fafd73 1.99%, #dee21c 100%);
  border-radius: 12px;
  padding: 1rem;
}
.reviewSection .reviews-container .review-card .img-card {
  width: 80%;
  height: 80%;
  border-radius: 50px;
  padding: 0.2rem;
}
.reviewSection .reviews-container .review-card .card-body {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-left: 0.2rem;
}
.reviewSection .reviews-container .review-card .card-body h3 {
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: 700;
  color: #fda144;
  padding-bottom: 0.2rem;
}
.reviewSection .reviews-container .review-card .card-body p {
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: 700;
  color: #ffffff;
}
.reviewSection .reviews-container .reviews-left {
  margin: 12rem 0 0 23rem;
}
.reviewSection .reviews-container .reviews-center {
  margin: 16rem 0 0 2.5rem;
}
.reviewSection .reviews-container .reviews-center .review-title {
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  color: #fda144;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 2.8rem;
  text-align: right;
}
.reviewSection .reviews-container .reviews-right {
  margin: 14rem 0 0 2rem;
}
.reviewSection .reviews-container .reviews-leftD {
  margin: 5rem 0 0 17rem;
}
.reviewSection .reviews-container .reviews-centerD {
  margin: 7rem 1rem 0 10rem;
}
.reviewSection .reviews-container .reviews-rightD {
  margin: 4rem 15rem 0 0;
}

.contactSection {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 4rem 0 8rem 0;
}
.contactSection h3 {
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 1.25rem;
  color: #1eb9c6;
  margin: 2rem 0;
}
.contactSection button {
  font-family: "Hanken-book";
  font-weight: 400;
  font-size: 1.12rem;
  color: #ffffff;
  background: radial-gradient(100% 1225% at 0% 50%, #1eb9c6 0%, #508ddc 100%);
  border-radius: 40px;
  border: none;
  width: 13rem;
  height: 3.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1279px) and (max-width: 1919px) {
  .fav-section {
    grid-template-columns: 70% 1fr;
  }
  .fav-section .fav-right p .text-fav {
    margin-top: 35%;
  }
  .fav-section .fav-right .cart-img {
    padding-top: 10rem;
  }

  .packs-section {
    grid-template-columns: 1fr 75%;
  }
  .packs-section .pack-left .text-pack {
    padding: 7rem 0 0 2rem;
  }
  .packs-section .pack-left .pack-img {
    padding-top: 8rem;
  }

  .howBuy-section .howBuy-title {
    padding-right: 0;
  }
  .howBuy-section .step {
    width: 13rem;
    height: 19rem;
  }
  .howBuy-section .step:not(:last-child) {
    margin-left: 1rem;
  }

  .we-section .we-team {
    padding: 4.5rem 0;
  }
  .we-section .we-cta {
    padding-top: 4.5rem;
  }
  .we-section .we-cta img,
.we-section .we-cta #btnTeam {
    margin-top: 0.5rem;
  }

  .reviewSection .reviews-container .reviews-left {
    margin: 7rem 0 0 6rem;
  }
  .reviewSection .reviews-container .reviews-center {
    margin: 9.5rem 0 0 1.5rem;
  }
  .reviewSection .reviews-container .reviews-center .review-title {
    font-size: 2.5rem;
    line-height: 2.2rem;
  }
  .reviewSection .reviews-container .reviews-right {
    margin: 6.5rem 0 0 1rem;
  }
  .reviewSection .reviews-container .reviews-leftD {
    margin: 1.5rem 0 0 8rem;
  }
  .reviewSection .reviews-container .reviews-centerD {
    margin: 3.5rem 0 0 3.5rem;
  }
  .reviewSection .reviews-container .reviews-rightD {
    margin: 1rem 0;
  }

  .footer-container .arrow-top {
    margin-left: 90%;
  }
  .footer-container .footerRight {
    margin-left: 62%;
    margin-top: 2%;
  }
  .footer-container .footerRight p {
    padding-top: 25%;
  }
  .footer-container .footerRight .blueat-logo-2 {
    padding: 20% 0 0 60%;
    width: 40%;
  }
  .footer-container .footerRight .rrss-icons {
    width: 12rem;
    padding: 1rem 0 1.5rem 14rem;
  }
  .footer-container .footerRight .rrss-icons .fab {
    color: #ffffff;
  }
  .footer-container .footerRight .pagoSeguro {
    width: 50%;
    margin-left: 50%;
  }
  .footer-container .footerRight .legales {
    margin-top: 1.5rem;
    width: 26rem;
  }
}

/*# sourceMappingURL=style.css.map */
