@media only screen and (min-width: 1280px) and (max-width: 1919px) {
  .fav-section {
    .fav-right {
      .text-fav {
        margin-top: 35%;
        margin-left: -10%;
      }
      .cart-img {
        width: 125%;
        margin-top: 45%;
        margin-left: -20%;
      }
    }
  }

  .howBuy-section {
    .howBuy-title {
      padding-right: 0;
    }
    .step {
      width: 13rem;
      height: 19rem;
    }
    .step:not(:last-child) {
      margin-left: 1rem;
    }
  }

  .we-section {
    .we-team {
      padding: 4.5rem 0;
    }
    .we-cta {
      padding-top: 4.5rem;
      img,
      #btnTeam {
        margin-top: 0.5rem;
      }
    }
  }

  .footer-container {
    .blueat-logo-2 {
      margin-left: 86%;
      margin-top: 35%;
    }
    .rrss-icons {
      margin-top: 39%;
    }
    .legales {
      margin-left: 64%;
      margin-top: 43%;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1025px) {
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
}

@media only screen and (max-width: 480px) {
}
