@media only screen and (min-width: 1279px) and (max-width: 1919px) {
  .fav-section {
    grid-template-columns: 70% 1fr;
    .fav-right {
      p .text-fav {
        margin-top: 35%;
        //margin-left: -5%;
      }
      .cart-img {
        padding-top: 10rem;
      }
    }
  }

  .packs-section {
    grid-template-columns: 1fr 75%;
    .pack-left {
      .text-pack {
        padding: 7rem 0 0 2rem;
      }
      .pack-img {
        padding-top: 8rem;
      }
    }
  }

  .howBuy-section {
    .howBuy-title {
      padding-right: 0;
    }
    .step {
      width: 13rem;
      height: 19rem;
    }
    .step:not(:last-child) {
      margin-left: 1rem;
    }
  }

  .we-section {
    .we-team {
      padding: 4.5rem 0;
    }
    .we-cta {
      padding-top: 4.5rem;
      img,
      #btnTeam {
        margin-top: 0.5rem;
      }
    }
  }

  .footer-container {
    .blueat-logo-2 {
      margin-left: 86%;
      margin-top: 35%;
    }
    .rrss-icons {
      margin-top: 39%;
    }
    .legales {
      margin-left: 64%;
      margin-top: 43%;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1025px) {
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
}

@media only screen and (max-width: 480px) {
}
