@media only screen and (max-width: 1280px) {
  .fav-section {
    .fav-right {
      .text-fav {
        margin-top: 35%;
        margin-left: -10%;
      }
      .cart-img {
        width: 125%;
        margin-top: 45%;
        margin-left: -20%;
      }
    }
  }
  .footer-container {
    .blueat-logo-2 {
      margin-left: 86%;
      margin-top: 35%;
    }
    .rrss-icons {
      margin-top: 39%;
    }
    .legales {
      margin-left: 64%;
      margin-top: 43%;
    }
  }
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) {
}
